.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

.heading-group-h1 {
  max-width: 80%;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}
