.site-header {
  background: #FFEAAA;
  padding: .1em;
}

.main-nav {
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

#filters select {
  width: 100%;
  margin: .2em 0;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
